body {
    background-color: rgb(2, 0, 0);
    color: white;
    overflow-x: hidden;
}

.box {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

span {
    color: aqua;
}

/* navigation section  */

.navbar-nav {
    position: fixed;
    right: 5%;
}

li {
    padding: 5px 21px;
    list-style: none;
}

.navbar-toggler {
    margin-right: 4%;
}

.navbar-nav .nav-link {
    font-weight: 400;
    font-size: 16px;
    transition: 0.3s ease;
}

.nav-link:active {
    color: rgb(8, 250, 230);
    font-weight: 600;
    font-size: 19px;
}


/* home section  */


.container-lg {
    top: 0;
    padding: 6%;
    background-color: rgba(22, 22, 22, 0.37);
}


#home,
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9% 8% 9% 8%;
    margin-top: 125px;
    margin-bottom: 125px;

}

.homeContent,
.Content {
    margin: 0 2rem;
}

.homeContent h3 {
    font-size: 34px;
    font-weight: 800;
}

.homeContent h1,
h1 {
    font-size: 46px;
    font-weight: 800;
}

.btn {
    padding: 2px 6px;
    border-radius: 9px;
    width: 9rem;
    font-weight: 700;
    border: none;
}

#about {
    margin-top: 3rem;
}


/* portfolio section  */
.card{
   
    border-radius: 9px;
}
#port{
    margin-bottom: 7%;
}
.cardOverlay {
    position: relative;
    overflow: hidden;
}

.cardOverlay .cardImg {
    width: 100%;
    display: block;
}
.cardImg{
    height: 250px;
    object-fit: cover;
    object-position: center ;
    margin: 0 1% 0 1%;
    width: 350px;
    transition: all 0.4s ease;

}
.cardImg:hover{
    transform: scale(1.3);
}

.cardOverlay .cardData {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    /* dark overlay */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    /* hidden by default */
    transition: 0.6s ease;
    padding: 20px;
    text-align: center;
    transform: translateY(100%);
}

.cardOverlay:hover .cardData {
    opacity: 1;
    transform: translateY(0);
    /* show text on hover */
}

.share{
    color: white;
    font-size: 32px;
    text-decoration: none;
}


/* form section  */
#contact-us{
    margin-top: 11%;
    margin-bottom: 8%;

}
#contact-us h1 {
    text-align: center;
    margin: 4% 0 8% 0;
    font-size: 42px;
    font-weight: 800;
}

.contact form {
    max-width: 65%;
    margin: 4%;
    text-align: center;
    margin-bottom: 3rem;

}

#contact-us .input_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#contact-us .input_box input,
#textArea {
    width: 100%;
    padding: 16px;
    font-size: 12px;
    background-color: rgb(49, 49, 49);
    border: none;
    margin: 6px;
    border-radius: 12px;
}
#contact-us .btn{
 margin: 6% 40% 8% 40%;
}


/* foter section  */
footer{
    text-align: center;
    padding: 4px 0 4px 0;
    background-color:rgb(32, 32, 32);
    color: white;
    margin-top: 3rem;
}


/* screen views  */

@media(max-width:1200px) {
    html {
        font-size: 75%;
        overflow-x: hidden;
    }

}

@media(max-width:768px) {
    html {
        font-size: 65%;
        overflow-x: hidden;
    }

    #home {
        flex-direction: column;
        text-align: center;
    }
    #about{
        text-align: center;
        flex-direction: column-reverse;

    }
    .Content{
        margin-bottom: 50px;
    }

    .navbar-nav {
        position: static;
        margin-top: 1rem;
        text-align: center;
    }

    .image {
        margin: 8rem 0 8rem 0;
    }
    .cardImg{
        /* margin: 0 3% 0 3%; */
        object-fit: cover;
        object-position: center ;
    }
    .card{
        margin: 4% 7% 4% 7% ;
    }

    .container {
        margin: 6rem 0 6rem 0;
    }

    #contact-us .input_box {
        flex-direction: column;
    }
    #about .aboutImg{
        display: flex  ;
        flex-direction: column-reverse;
    }
}



html {
    scroll-behavior: smooth;
    /* enables smooth scrolling */
}

.container-lg {
    scroll-margin-top: 80px;
    /* same as navbar height */
}

/* active nav link color */
.navbar-nav .nav-link.active-link {
    color: #0dcaf0 !important;
    /* Bootstrap info color */
    font-weight: bold;
    /* optional */
}
.nav-link.active{
     color: #0dcaf0 !important;
    /* Bootstrap info color */
    font-weight: bold;
    /* optional */
}
ri-arrow-right-up-box-fill{
    font-size: 15px;
}

#homeImage, #aboutImage{
    animation:floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.8rem);
    }
    100%{
        transform: translateY(0);
    }
}
